html {
	font-family:'Quattrocento Sans', sans-serif;
	background-color:#ffffff;
}

/*Background Declarations*/
.logo-home {
	width:100%;
	height:100%;
	object-position:50% 50%;
	object-fit: cover;
	margin-top:25;
	left:0;
	position:absolute;
}
.home-header h4{
	display:inline-block;
	position:absolute;
	top:80%;
  	left:46%;
  	height:45px;
	width:auto;
	color:#282824;
	font-size:26px;
	letter-spacing:.07em;
	font-weight:lighter;
	float:center;
	z-index:1
}
.home-header a {
	padding:15px;
	color:#282824;
	text-decoration:none;
	background-color:#ffffff;
	border:2px solid #ffffff;
}
.home-header a:hover {
	padding:15px;
	color:#ffffff;
	text-decoration:none;
	background-color:transparent;
	border:2px solid #ffffff;
}
.home-header img {
	width:100%;
	height:100%;
	object-position:50% 50%;
	object-fit: cover;
	margin-top:25;
	left:0;
	position:absolute;
}
.feature-img {
	margin-top:50px;
	width:728px;
	height:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.icon {
	width:35px;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.icon-link{
	margin-left:auto;
	margin-right:auto;
}
.profile-img {
	margin-top:25px;
	height:auto;
	width:300px;
	border-radius:50%;
	margin-bottom:25px; 
	margin-right:25px;	
}
.dev-img {
	margin-top:25px;
	height:auto;
	width:90%;
	float:right;
	margin-right:auto;
	margin-left:auto;
}
.hr-bar {
	background-color:#282824;
}
.text-banner {
	max-width:95%;
	padding-top:15px;
	padding-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-left:15px;
}
.banner {
	margin-top:30px;
	max-width:100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.index-bg {
	background-color:#3f4140;
}

/*Declaration of Basics*/
.container {
	max-width: 100%;
	font-size: 100%;
	line-height: 1.5;
	margin: 0 auto;
	text-align:center;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display:table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
@media screen and (max-width:2800px) {
	.nav ul {
		font-size:13px;
	}
	.center-section {
		width:70%;
	}
	.nav ul {
		font-size:13px;
	}
	.col {
		flex:47%;
		max-width:47%;
	}
	.text-banner {
		max-width:95%
	}
	.row-gallery .col-gallery {
		-ms-flex:32.6%;
		flex:32.6%;
		max-width:24.3%;
	}
	.row-gallery .col-panel {
		-ms-flex:45%;
		flex:45%;
	}
	.center-section {
		width:70%;
	}
	.info-panel {
		height:290px;	
	}
	.col .contact-link {
		line-height:1.5;
		font-size:14px;
	}
	footer .text-banner .col p {
		font-size:14px;
	}
	footer h2  {
		font-size:16px;
	}
	main p {
	font-size:16px;
	}
	.text-banner .col p {
		font-size:18px;
	}
	.home-header h4{
  		left:43%;
  		top:80
}

/*Responsive Design*/
@media screen and (max-width:1800px) {
	.nav ul {
		font-size:13px;
	}
	.col {
		flex:47%;
		max-width:47%;
	}
	.text-banner {
		max-width:95%
	}
	.row-gallery .col-gallery {
		-ms-flex:49%;
		flex:49%;
		max-width:49%;
	}
	.row-gallery .col-panel {
		-ms-flex:45%;
		flex:45%;
		max-width:47%;
	}
	.center-section {
		width:70%;
	}
	.info-panel {
		height:290px;	
	}
	.col .contact-link {
		line-height:1.5;
		font-size:14px;
	}
	footer .text-banner .col p {
		font-size:14px;
	}
	footer h2  {
		font-size:16px;
	}
	main p {
	font-size:16px;
	}
	.text-banner .col p {
		font-size:16px;
	}
	.home-header h4{
  		left:43%;
  		top:76%
	}
	
}
@media screen and (max-width:1600px) {
	.home-header h4{
  		left:43%;
  		top:75%
	}
}
@media screen and (max-width:1200px) {
	.nav ul {
		font-size:13px;
	}
	.col {
		flex:100%;
		max-width:100%;
	}
	h2 {
		text-align:center;
	}
	.profile-img {
		margin-left:auto;
		margin-right:auto;
		margin-bottom:-35px;
	}
	.text-banner {
		max-width:95%
	}
	.row-gallery .col-panel {
		-ms-flex:45%;
		flex:45%;
		max-width:46.3%;
	}
	.text-banner .col h2 {
		text-align:center !important;
	}
	.info-panel {
		height:280px;	
	}
	.center-section {
		width:70%;
	}
	.col .contact-link {
		line-height:1.5;
		font-size:14px;
	}
	footer .text-banner .col p {
		font-size:14px;
	}
	footer h2  {
		font-size:16px;
	}
	main p {
	font-family:'Quattrocento Sans', sans-serif;
	font-size:16px;
	color:#ffffff;
	}
	.text-banner .col p {
		font-size:16px;
	}
	.home-header h4{
  		left:42%;
  		top:70%
	}
}

@media screen and (max-width:1100px) {
	.row-gallery .col-gallery {
		-ms-flex:99%;
		flex:99%;
		max-width:99%;
	}
	.row-gallery .col-panel {
		-ms-flex:99%;
		flex:99%;
		max-width:95%;
	}
	.center-section {
		width:70%;
	}
	.text-banner .col h2 {
		text-align:center !important;
	}
	.banner {
		margin-top:70px;
	}
	.nav {
		top:0;
		height:80px;
		width:100%;
		position:relative;
		display:flex;
		justify-content: space-between;
	}  
	.nav ul {
		font-size:16px;
	}
	.nav .nav-btn {
		display:inline-block;
		position: absolute;
		right:0;
		top:21px;
	}
	/* Hamburger Menu */
	.nav .nav-btn label {
		display:inline-block;
		width:60px;
		height:60px;
		padding-top:12px;
		padding-right:25px;
	}
	.nav .nav-btn label span {
		display: block;
		width:50px;
		height:10px;
		border-top:2px solid #ffffff;
	}
	/*Navigation Menu*/
	.nav .nav-links {
		position:absolute;
		width:100%;
		background-color:#282824;
		top:80px;
		left:0px;
		height:0px;
		visibility:collapse;
	}
	/*Navigation Content Links*/
	.nav .nav-links li {
		display:block;
		max-width:100%;
		width:100%;
		height:80px;
		background-color:#282824;
		margin-bottom:6px;
	}
	.nav .nav-links ul {
		background-color:#282824;
		padding-bottom:15px;
		padding-right:15px;
		max-width:100%;
	}
	.nav .nav-links li a {
		width:99%;
		padding-top:25px;
		padding-bottom:25px;
		display:block;
	}
	#nav-check:checked ~ .nav-links {
		visibility: visible;
	}
	#nav-check:checked ~ .nav-links li a:hover {
		background-color:#3f4140;
	}
	#nav-check:checked ~ .nav-links .current {
		background-color:#3f4140;
		border:none;
	}
	#nav-check:checked ~  li {
		visibility:visible;
	}
	.info-panel {
		height:300px;	
	}
	.col .contact-link {
		font-size:20px;
	}
	footer .text-banner .col p {
		font-size:20px;
	}
	footer h2  {
		margin-top:60px;
		font-size:26px;
	}
	main p {
	font-size:20px;
	}
	.text-banner .col p {
		font-size:20px;
	}
	footer .row {
		height:350px;
	}
	.home-header h4{
  		left:40%;
  		top:70%
	}
}
@media screen and (max-width:850px) {
	.info-panel {
		height:400px;
	}
	.center-section {
		width:100%;
	}
	.row-gallery .col-panel {
		-ms-flex:99%;
		flex:99%;
		max-width:93%;
	}
	.col .contact-link {
		font-size:22px;
		margin-top:3px;
	}
	footer h2  {
		margin-top:60px;
		font-size:26px;
		margin-bottom:15px;
	}
	footer .text-banner .col p {
		font-size:22px;
		margin-top:10px;
		line-height:2;
	}
	footer .row {
		height:350px;
	}
	main p {
	font-size:20px;
	}
	.text-banner .col p {
		font-size:22px;
	}
	.home-header h4{
  		left:38%;
  		top:70%
	}
}
@media screen and (max-width:590px) {
	.info-panel {
		height:460px;	
	}
	.center-section {
		width:100%;
	}
	.row-gallery .col-panel {
		-ms-flex:99%;
		flex:99%;
		max-width:90%;
	}
	footer .text-banner .col p {
		margin-top:20px;
		font-size:22px;
	}
	footer h2  {
		margin-top:60px;
		font-size:26px;
		margin-bottom:15px;
	}
	.col .contact-link {
		font-size:22px;
	}
	footer .row {
		height:350px;
	}
	main p {
		font-size:20px;
	}
	.text-banner .col p {
		font-size:22px;
	}
	.home-header h4{
  		left:23%;
  		top:70%
	}
}

/*Header Stylings - Global*/
header section{
	font-weight:lighter;
	background-color:#282824;
	height:auto;
	padding-bottom:8px;
	width:100%;
	position:absolute;
}
.nav
{
	text-align:center;
}
.nav-btn {
	display:none;
}
.nav #nav-check {
	display:none;
}
.nav ul {
	display: inline-block;
	margin-top:15px;
	list-style:none;
	text-align:center;
}
.nav li, .nav li a{
	text-transform: uppercase;
	letter-spacing:.07em;
	font-weight:400;
	float:left;
	line-height:19px;
	margin-left:7px;
	margin-right:7px;
	color:#a9a9a9;
	text-decoration:none;
}
.nav li, a:hover{
	color:#ffffff;
}
.current{
	margin-top:-2px;
	color:#ffffff;
	border:1px solid #ffffff;
	padding:2px 3px;
}
/*Main Body Stylings - Global*/
main section{
	text-align:left;
	color:#000000;
	font-weight:bolder;
}
h2 {
	font-family:'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	font-size:24px;
	color:#a9a9a9;
	letter-spacing:.07em;
	font-weight: 400;
}
main p {
	font-family:'Quattrocento Sans', sans-serif;
	color:#ffffff;
}
.col {
	width:48%;
	height:100%;
	padding:0 15px;
	text-align:center;
	float:left;
}
.row {
	width:100%;
	height:auto;
	text-align:center;
	display:flex;
	flex-wrap:wrap;
}
.text-banner .col {
	width:40%;
	height:auto;
}
.text-banner .col p {
	text-align: right;
	margin-right:25px;
}
.text-banner .col h2{
	text-align:left;
	color:#282824;
	margin-left:-25px;
	margin-top:45px;
}
.col .contact-link {
	font-family:'Quattrocento Sans', sans-serif;
	color:#a9a9a9;
	float:left;
	letter-spacing:.07em;
	font-weight:400;
	text-align:left;
	text-transform:lowercase;
	width:100%;
	text-decoration:none;
}
footer .col a:hover {
	color:#ffffff;
}
.col a:hover {
	color:#7e7e7e;
}
.col p {
	color:#7e7e7e;
	text-align:left;
	margin-left:-25px;
}
.text-dark {
	color:#373938;
}
.text-gray {
	color:#7e7e7e;
}
.title {
	margin-top:75px;
}
.tighten {
	margin-bottom:-25px;
}
/*Home Page Stylings*/

/*Shop Page Stylings*/


/*Footer Stylings - Global*/
.center-section {
	margin-right:auto;
	margin-left:auto;
	height:auto;
}
.row-gallery {
	display:-ms-flexbox; /* IE10 */
	display:flex;
	-ms-flex-wrap:wrap; /* IE10 */
	flex-wrap:wrap;
}
.col-gallery {
	-ms-flex:24%; /* IE10 */
	flex:24%;
	max-width:24.35%;
	padding-top:2px;
	padding-bottom:10px;
	padding-left:10px;
}
.col-panel {
	-ms-flex:49%; /* IE10 */
	flex:49%;
	max-width:47.7%;
	padding:10px;
	background-color:#f5f5f5;
	margin-left:15px;
	margin-top:15px;
}
.col-panel h2 {
	color:#282824;
	margin-right:auto;
	margin-left:auto;
}
.col-panel p {
	margin-right:auto;
	margin-left:auto;
}
.col-gallery img {
	margin-top:8px;
	vertical-align:middle;
	width:100%;
}
figure.img-container {
	display:block;
	position:relative;
	overflow:hidden;
}
figure.img-container figcaption {
	position:absolute;
	display:block;
	text-align:center;
	background:#282824;
	padding:25px;
	z-index:100;
	width:100%;
	height:auto;
	overflow:hidden;
	top:40%;
	opacity:0;
}
figure.img-container:hover figcaption {
	opacity:1;
}
.title {
	margin-top:0;
	color:#ffffff;
	font-size:26px;
	letter-spacing:.07em;
	font-weight:400;
	margin-bottom:-5px;
	float:center;
	margin-left:-65px;
}
.category {
	font-size: 1.2rem;
	color:#a9a9a9;
	font-style:italic;
	font-weight:400;
	letter-spacing:.07em;
	margin-left:-75px;
	margin-bottom:6px;
}

figcaption p {
	font-family:'Quattrocento Sans', sans-serif;
	letter-spacing:.07em;
	font-weight:400;
	float:center;
	line-height:19px;
	max-width:90%;
}

.text-banner .category {
	margin-top:15px;
}

form {
	background:#282824;
	padding:15px;
	width:60%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	padding-bottom:15px;
	margin-bottom:20px;
}
form h3 {
	font-family:'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	font-size:24px;
	letter-spacing:.07em;
	font-weight: 400;
	color:#a9a9a9;
}
form p {
	text-align:center;
	margin-left:15px;
	color:#ffffff;
	margin-bottom:15px;
}
fieldset input[type="text"], fieldset input[type="email"], fieldset textarea {
	border:1px solid #CCC;
	margin-top:10px;
	width:90%;
	padding:10px;
	font-family:'Quattrocento Sans', sans-serif;
	font-size:16px;
	resize:none;
}
fieldset button[type="submit"] {
	margin-top:20px;
	cursor:pointer;
	width:40%;
	font-family:'Quattrocento Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	padding:10px;
	text-transform:uppercase;
	background-color:#ffffff;
	border:0px none;
	color:#282824;
	font-weight:lighter;
	letter-spacing:0.07em;
	margin-bottom:15px;

}
fieldset button[type="submit"]:hover {
	background-color:#a9a9a9;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	color:#ffffff;
}
footer {
	color:#a9a9a9;
	font-size:13px;
	letter-spacing:.07em;
	font-weight:lighter;
	line-height:19px;
	background-color:#282824;
	height:auto;
	line-height:1.5;
	bottom:0;
	width:100%;
}
footer h2 {
	letter-spacing:.07em;
	line-height: 19px;
	text-transform:uppercase;
	font-weight:lighter;
}
footer .text-banner .col p {
	letter-spacing:.07em;
	text-transform:uppercase;
	font-weight:lighter;
}
footer .col {
	padding:0 3px;
}