body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 62.5%;
  line-height: 2rem;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5.5rem;
  letter-spacing: 0.05rem;
}

/* Typography */
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  color: #a9a9a9;
}
.card-h2 {
  font-size: 1.6rem;
  margin: 1rem 0 0.5rem 0;
  color: #7acddc;
  height: auto;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.2rem;
  color: #ffffff;
  width: 100%;
  line-height: 1.5rem;
}
.project-details {
  text-align: left;
  display: inline-flex;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0.4rem;
  margin: 0 auto;
  color: #282824;
  width: 100%;
}
h1,
h2,
h3,
p,
a {
  text-align: center;
}
.tags {
  background-color: #464545;
  color: #a9a9a9;
  padding: 0.4rem;
  font-size: 1.2rem;
  margin: 0.2rem;
  display: inline-block;
}

/*Header*/
.nav {
  height: 4.5rem;
  top: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.nav ul {
  display: inline-block;
  position: absolute;
  font-size: 1.4rem;
  list-style: none;
  top: 4.5rem;
  left: 0px;
  height: 0px;
  visibility: collapse;
}
.current {
  color: #ffffff !important;
}
/* Hamburger Menu */
.nav label,
#nav-check {
  display: inline-block;
  position: absolute;
  height: auto;
  width: 3.2rem;
  top: 1.4rem;
  right: 1.4rem;
}
#nav-check {
  opacity: 0;
  display: block;
}
.nav label span {
  display: block;
  width: 50px;
  height: 10px;
  border-top: 3px solid #ffffff;
}
.nav ul li,
.nav ul li a {
  display: block;
  background-color: #212121;
  margin: 0 auto;
  text-decoration: none;
}
.nav ul li a {
  padding: 1rem 0;
  color: #a9a9a9;
  border-bottom: 1px solid #3f4140;
  width: 100%;
  font-weight: lighter;
}
.nav a:hover {
  color: #ffffff;
}
/*Navigation Toggle*/
#nav-check:checked ~ .nav ul li,
#nav-check:checked ~ ul {
  visibility: visible;
}

/*Banners*/
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  padding: 5rem 0 5rem 0rem;
}
.home-banner {
  background-image: url(../img/banner-home.jpg);
}
.software-banner {
  background-image: url(../img/banner-software.jpg);
}
.about-banner {
  background-image: url(../img/banner-about.jpg);
}
.design-banner {
  background-image: url(../img/banner-design-v2.jpg);
}
.home-banner img,
.home-banner p {
  margin: 0 auto;
  border-radius: 100%;
  max-width: 270px;
}
.home-banner img {
  box-shadow: 0px .5rem 1rem rgba(8, 9, 10, 0.5);
}
.home-banner p {
  margin-top: 1rem;
  width: 70%;
  font-weight: lighter;
  font-size: 1.4rem;
  max-width: 450px !important;
}
.text-banner {
  background-color: #282824;
  padding: 2rem;
}

/*Main*/
header {
  background-color: #282824;
}
footer,
.text-banner,
.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container,
footer,
.row {
  max-width: 100vw;
}
.container {
  padding: 1rem;
}

/*Col Styles*/
.avatar-badge {
  width:100%;
}
.col:last-child {
  margin-top: 1rem;
}
.col p {
  margin: 1rem auto;
}
.col,
.info-card {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #282824;
  max-width: 600px;
}
.info-card {
  background-color: #f5f5f5 !important;
  width: 100%;
}
.info-card p {
  color: #7e7e7e !important;
  text-align: left;
  height: 100%;
}
.col-gallery {
  margin-top: -1rem;
}
.col-gallery:nth-child(even) {
  display: none;
}
.about-card .main {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 100%;
  transition: all 0.5s cubic-bezier(.55,0,.1,1);
}

/* Hover figcaptions */
figure {
  display: block;
  position: relative;
  margin: 1rem 0rem 1rem 0;
  overflow: hidden;
}
figure:hover figcaption {
  opacity: 1;
  transition: 0.5s;
}
figure figcaption {
  position: absolute;
  display: block;
  text-align: center;
  background: #282824;
  padding: 6rem 1rem;
  width: 100%;
  top: 0%;
  height: 100%;
  opacity: 0;
}
figcaption h2 {
  margin: 0 !important;
}

/*Slide show*/
.slideshow-container {
  position: relative;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: #7acddc;
  font-size: 3rem;
  transition: 1s ease;
  user-select: none;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}

/*Btn Styles*/
.btn a {
  padding: 0.6rem 1.5rem;
  color: #7acddc;
  text-decoration: none;
  background-color: #282824;
  border: 2px solid #7acddc;
  font-weight: lighter;
  transition-duration: 0.7s;
}
.btn a:hover {
  color: #282824;
  background-color: #7acddc;
}
.btn a:hover > .fa {
  color: #282824 !important;
  transition-duration: 0.7s;
}

/*Footer*/
footer {
  background-color: #282824;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}
.row-icons li {
  display: inline-block;
  width: 2.5rem;
  margin: 0 0.5rem;
}
.row-icons img {
  vertical-align: middle;
  display: inline;
}
.row-icons img:hover {
  opacity: 0.3;
  transition: 0.5s;
  border-radius: 100%;
  transition: 0.5s ease-in;
  box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Icons */
.fab,
.fas {
  color: #282824;
  background-color: #7acddc;
  border-radius: 100%;
}
.round-icon {
  padding: 2.2rem 1.7rem;
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
}

/* Skill Card */
.skill-card {
  display: flex;
  padding: 0.6rem 0.2rem;
  flex-direction: column;
  margin: 0 0.5rem;
  text-align: center;
}
.skill-card img {
  margin: 0 auto;
  display: block;
  max-width: 55px;
  height: auto;
}

.skill-card img:hover {
  animation: rotate 1s linear;
  border-radius: 100%;
  box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.5);
}

.skill-card p {
  margin-top: 0.5rem;
  color: #7acddc;
}

@media only screen and (min-width: 750px) {
  /*Navigation*/
  .nav {
    height: 3rem;
  }
  .nav label {
    display: none;
  }
  .nav ul {
    top: 0;
    position: absolute;
    margin: 0.15rem auto 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  .nav ul,
  .nav ul li,
  .nav ul li a {
    background-color: #282824;
    border: none;
    font-size: 1.2rem;
    color: #a9a9a9;
    line-height: 1.4rem;
  }
  .nav li,
  .nav ul li a {
    width: auto;
    float: left;
    margin: 0 1.6rem 0 1.6rem;
    padding: 0.3rem 0 0 0;
  }
  .nav li,
  a:hover {
    color: #ffffff;
  }
  .current {
    border-bottom: 1px solid #7acddc !important;
    color: #7acddc !important;
  }
  /* Other */
  .home-banner img {
    width: 30%;
  }
  .info-card {
    width: 70%;
  }
  .info-card .main {
    height: auto;
    margin-top: 5%;
  }
  .hobby p {
    width: 60%;
  }
  .gallery-banner {
    margin-top: 1rem;
    width: 60%;
  }
  .col {
    width: 43%;
    margin: 0 0.5rem;
  }
  .col:hover {
    transition: 0.5s ease-in;
    box-shadow: 0px .5rem 1rem rgba(80, 85, 90, 0.5);
  }
  .col:last-child {
    margin-top: 0;
  }
  .col-gallery {
    width: 20%;
    margin: 0 0.5rem !important;
  }
  .col-gallery:nth-child(even) {
    display: block;
  }
  .col-gallery figcaption p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .col-gallery h2 {
    font-size: 1.2rem;
    color: #7acddc;
    line-height: 1.3rem !important;
  }
  figcaption {
    padding: 2rem 1rem !important;
  }
}

/* Responsive Desktop*/
@media only screen and (min-width: 1024px) {
  /*Main*/
  .banner {
    padding: 6rem 0;
  }
  .logo-badge {
    display: block !important;
  }
  .home-banner {
    margin-bottom: 0.5rem;
    padding: 5rem 0;
    background-position: top;
    background-attachment: fixed;
  }
  .text-banner .header-p {
    width: 60%;
  }
  .info-card {
    width: 40% !important;
  }
  .info-card p {
    width: 90%;
  }
  .avatar-badge {
    max-width: 30%;
    margin-right: 2em;
  }
  .about-card .details {
    max-width: 70%;
  }
  .about-card {
    justify-content: center;
    width: 80% !important;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
  }
  .about-card h3 {
    text-align: left;
    width: 100%;
  }
  .about-card .details {
    width: 66%;
  }
  .col {
    width: 40%;
    align-items: flex-start;
    margin: 2rem 0.8rem 0 0.8rem;
  }
  .col:last-child,
  .col {
    margin-top: 0;
  }
}

/** Animation Styles **/
.reveal {
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.fade-in {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}

// Image Rollover
.about-card .main:hover {
  background-position: 0% 50%;
}
.about-card .main:hover + .logo-badge,
.logo-badge:hover {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  height: 10rem;
  width: 10rem;
  transition: all 0.5s cubic-bezier(.55,0,.1,1), letter-spacing 1.5s ease-out;
}

.logo-badge {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  margin-top: -5rem;
  margin-left: 50%;
  border-radius: 100%;
  box-shadow: 0px .5rem 1rem rgba(91, 96, 98, 0.5);
  transition: all 0.5s cubic-bezier(.55,0,.1,1);
}