:root {
  // Colours
  --black: #212121;
  --charcoal: #292927;
  --light-charcoal: #3c4244;
  --gray: #a9a9a9;
  --light-gray: #f0f0f0;
  --lighter-gray: #e1e1e1;
  --medium-gray: #636363;
  --teal: #7acddc;
  --white: #ffffff;

  // Spacing
  --pad-xxxs: 0.3rem;
  --pad-xxs: 0.5rem;
  --pad-xs: 1rem;
  --pad-base: 1.5rem;
  --pad-sm: 2rem;
  --pad-md: 5rem;

  // Transitions
  --ease-in: 0.5s ease-in;

  // Animation Variables
  --box-size: 12.5rem;
  --clip-distance: 0.05;
  --clip-size: 13.75rem;
  --path-width: 0.188rem;
  --timer: 8s;

  // Font sizes
  --font-md: 1.5rem;
  --font-sm: 1.2rem;
  --font-xs: 1rem;
  --font-xxs: 0.9rem;

  // Other
  --border-radius-base: 0.25rem;
  --border-size: 0.125rem;

  // Icons
  --icon-lg: 3rem;
  --icon-md: 2rem;

  // Screen size - CSS does not support these :(
  --tablet: 37.5rem; // 600px to 899px
  --laptops: 56.25rem; // 900px to 1199px
  --desktop: 75rem; // 1200px and up
}

html {
  scroll-behavior: smooth;
}

#about,
#software,
#design {
  scroll-margin-top: 80px;
}

// Typography
h2 {
  @extend .dark-text;
  font-size: 2rem;
  margin-bottom: var(--pad-xs);
  text-align: center;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;

  i {
    font-size: 1.2rem;
  }
}
p {
  font-size: 1.1rem;
  color: var(--charcoal);
}
.dark-text {
  color: var(--charcoal);
  font-weight: lighter;
}
.bold-text {
  font-weight: 600;
}
.dark-bg {
  background-color: var(--charcoal);

  h2 {
    color: var(--light-gray);
  }
  p {
    color: var(--light-gray);
  }
}
.gray-bg {
  background-color: var(--light-gray);
}
.script {
  @extend .dark-text;
  font-family: "Caveat", cursive;
  font-size: 1.75rem;
  line-height: 1.75rem;
}

// Shared styles
.position-fixed {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.space-evenly {
  display: flex;
  justify-content: space-between;
}
.hover {
  cursor: pointer;
  transition: var(--ease-in);
}
.hover-teal {
  @extend .hover;
  @extend .teal;
}
.hover-white {
  @extend .hover;
  @extend .white;
}
.teal {
  color: var(--teal) !important;
}
.white {
  color: var(--white) !important;
}
.card {
  border: var(--border-size) solid var(--charcoal);
  border-radius: var(--border-radius-base);
  padding: var(--pad-sm);
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  gap: var(--pad-sm);
}
.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-col {
  @extend .flex;
  flex-direction: column;
}
.flex-row {
  @extend .flex;
  flex-direction: row;
}

// Animated Content
.logo-animated {
  @extend .position-fixed;
  background: url("../img/logo-personal.jpg") no-repeat 50% / 95%
    var(--charcoal);
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 var(--path-width) var(--teal);
  height: var(--box-size);
  position: relative;
  width: var(--box-size);
}
.logo-animated::before,
.logo-animated::after {
  @extend .position-fixed;
  animation: clipAnimation var(--timer) linear infinite;
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 var(--path-width) var(--teal);
  content: "";
  margin: -5%;
  position: absolute;
}
.logo-animated::before {
  animation-delay: -4s;
}
.fade-in {
  animation: fadein 3s;
}
.slide-cards {
  transition: var(--ease-in);
  opacity: 0.5;
  z-index: 0;
}
#dev-1:checked ~ .carousel-cards #dev-3,
#dev-2:checked ~ .carousel-cards #dev-1,
#dev-3:checked ~ .carousel-cards #dev-2 {
  @extend .slide-cards;
  transform: translatex(-27%) scale(0.8);

  @media only screen and (min-width: 37.5rem) {
    transform: translatex(-40%) scale(0.8);
  }
}
#dev-1:checked ~ .carousel-cards #dev-2,
#dev-2:checked ~ .carousel-cards #dev-3,
#dev-3:checked ~ .carousel-cards #dev-1 {
  @extend .slide-cards;
  transform: translatex(27%) scale(0.8);

  @media only screen and (min-width: 37.5rem) {
    transform: translatex(40%) scale(0.8);
  }
}
#dev-1:checked ~ .carousel-cards #dev-1,
#dev-2:checked ~ .carousel-cards #dev-2,
#dev-3:checked ~ .carousel-cards #dev-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#dev-1:checked ~ .carousel-details {
  #dev-info-1 {
    display: block;
    opacity: 1;
    transform: translatex(0);
  }
  #dev-info-2 {
    display: none;
    opacity: 0;
  }
  #dev-info-3 {
    display: none;
    opacity: 0;
  }
}
#dev-2:checked ~ .carousel-details {
  #dev-info-1 {
    display: none;
    opacity: 0;
  }
  #dev-info-2 {
    display: block;
    opacity: 1;
  }
  #dev-info-3 {
    display: none;
    opacity: 0;
  }
}
#dev-3:checked ~ .carousel-details {
  #dev-info-1 {
    display: none;
    opacity: 0;
  }
  #dev-info-2 {
    display: none;
    opacity: 0;
  }
  #dev-info-3 {
    display: block;
    opacity: 1;
  }
}

// Keyframes
@keyframes clipAnimation {
  0% {
    clip: rect(0px var(--clip-size) var(--path-width) 0px);
  }
  25% {
    clip: rect(0px var(--path-width) var(--clip-size) 0px);
  }
  50% {
    clip: rect(218px var(--clip-size) var(--clip-size) 0px);
  }
  75% {
    clip: rect(0px var(--clip-size) var(--clip-size) 218px);
  }
  100% {
    clip: rect(0px var(--clip-size) var(--path-width) 0px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.75rem);
  }
  60% {
    transform: translateY(-1rem);
  }
}

// General styling
body {
  font-family: "Quattrocento Sans", sans-serif;
  letter-spacing: 0.05rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}
.nav {
  @extend .dark-bg;
  background-color: var(--black);
  padding: var(--pad-sm);
  position: fixed;
  width: 100vw;
  z-index: 2;
  @media only screen and (min-width: 37.5rem) {
    background-color: var(--black);
    padding: var(--pad-xs) var(--pad-sm);
    position: fixed;
  }

  a {
    color: var(--light-gray);
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: var(--teal);
    }
  }
  input {
    @extend .hover;
    height: 1.5rem;
    opacity: 0;
    position: absolute;
    width: 2.5rem;
    z-index: 2;
    @media only screen and (min-width: 37.5rem) {
      display: none;
    }
  }
  span {
    background: var(--white);
    border-radius: var(--border-radius-base);
    display: block;
    height: 0.25rem;
    margin-bottom: var(--pad-xxs);
    position: relative;
    transform-origin: 0.45rem 0.063rem;
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
    width: 3rem;
    z-index: 1;
    @media only screen and (min-width: 37.5rem) {
      display: none;
    }
  }
  span:first-child {
    transform-origin: 0% 0%;
  }
  span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  span:nth-child(4) {
    margin-bottom: 0;
  }
  input:checked {
    ~ span {
      background: var(--teal);
      opacity: 1;
      transform: rotate(-45deg);
    }
    ~ span:nth-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.1);
    }
    ~ span:nth-child(2) {
      transform: rotate(45deg);
    }
    ~ .menu-items {
      transform: none;
    }
  }
}
.menu-items {
  background: var(--black);
  left: 0;
  padding: var(--pad-md) var(--pad-sm) var(--pad-sm) var(--pad-sm);
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 100vw;
  box-shadow: inset 0 0 0 var(--path-width) var(--teal);
  @media only screen and (min-width: 37.5rem) {
    margin-left: calc(var(--icon-lg) + var(--pad-xs));
    padding: 0;
    position: relative;
    transform: none;
  }

  ul {
    li {
      font-size: var(--font-md);
      margin: var(--pad-xs) 0;
      @media only screen and (min-width: 37.5rem) {
        float: left;
        font-size: var(--font-sm);
        margin: 0 var(--pad-sm) 0 0;
        width: auto;

        a {
          &:hover {
            color: var(--teal);
            cursor: pointer;
            transition: var(--ease-in);
          }
        }
      }
    }
  }
}
.social-items {
  @extend .space-evenly;
  @media only screen and (min-width: 37.5rem) {
    display: none;
  }

  li {
    max-width: 3rem;
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
      transform: translate(0, -10%);
    }
  }
}
.logo {
  display: none;
  @media only screen and (min-width: 37.5rem) {
    display: block;
    position: absolute;
    width: var(--icon-md);
  }
}
i {
  font-size: var(--icon-md);
  color: var(--white);
}
.banner {
  @extend .flex-col;
  align-items: center;
  background: url(../img/banner-xl-home.jpg) center / cover no-repeat;
  gap: var(--pad-sm);
  min-height: 90vh;
  padding: var(--pad-md) var(--pad-sm) var(--pad-sm) var(--pad-sm);
  @media only screen and (min-width: 37.5rem) {
    justify-content: end;
  }

  .rows {
    @extend .flex-col;
    @media only screen and (min-width: 37.5rem) {
      flex-direction: row;
    }
  }
  i:hover {
    @extend .hover-teal;
  }
}
.container {
  padding: var(--pad-sm);
}
.card-sm {
  @extend .card;
  max-width: 17.5rem;
  transition: var(--ease-in);

  &:hover {
    @extend .hover;
    border: var(--border-size) solid var(--teal);

    i {
      @extend .hover-teal;
    }
  }

  p {
    border-top: var(--border-size) solid var(--medium-gray);
    margin-top: var(--pad-sm);
    padding-top: var(--pad-xs);
  }

  i {
    transition: var(--ease-in);
  }
}
.card-lg {
  @extend .card;
  background-color: var(--light-gray);
  border: none;
  padding: 0;
  max-width: 56.5rem;
  margin: 0 auto;
  overflow: hidden;
  @media only screen and (min-width: 37.5rem) {
    display: flex;
    flex-direction: row;
  }

  .about-container {
    @media only screen and (min-width: 37.5rem) {
      h2 {
        text-align: left;
      }
    }

    p {
      border-top: var(--border-size) solid var(--charcoal);
      padding-top: var(--pad-xs);
      text-align: left;
    }
    .script {
      font-size: var(--font-sm);
      @media only screen and (min-width: 37.5rem) {
        font-size: var(--font-md);
      }
    }
  }
  .avatar-container {
    background-color: var(--charcoal);
    &:hover {
      @extend .hover;

      img {
        @extend .hover;
        animation: bounce 2s infinite;
      }
    }
    @media only screen and (min-width: 37.5rem) {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    img {
      border-radius: 100%;
      margin: var(--pad-xs) auto;
      max-width: 10rem;

      @media only screen and (min-width: 37.5rem) {
        max-width: 15rem;
      }
    }
  }
}
.skill-token {
  @extend .flex-col;
  text-align: center;
  gap: var(--pad-xxs);
  width: 75px;

  img {
    max-width: 3.5rem;
    margin: auto;
  }
}
.text-col {
  align-items: center;
  display: flex;
  gap: var(--pad-xs);
  margin: var(--pad-sm) auto;
  @media only screen and (min-width: 37.5rem) {
    max-width: 35rem;
  }

  i {
    background-color: var(--teal);
    border-radius: 100%;
    font-size: 1.5rem;
    min-width: 3.5rem;
    padding: 1rem 0.9rem;
    text-align: center;
    justify-content: center;
    align-self: center;
    display: flex;
  }
}
.tagline {
  margin-top: -1.5rem;
  font-size: var(--font-md);
  text-align: center;
}

.tags {
  background-color: var(--light-charcoal);
  border-radius: var(--border-radius-base);
  padding: var(--pad-xxxs) var(--pad-xxs);
  font-size: var(--font-xxs);
  margin: 0.2rem;
  color: var(--white);
}
.code-portfolio {
  overflow-x: hidden;

  @extend .flex-col;
  gap: var(--pad-xs);

  input {
    display: none;
  }
  label {
    position: absolute;
    &:hover {
      @extend .hover;
    }
  }
  .carousel-cards {
    height: 13rem;
    padding-top: var(--pad-sm);
    @media only screen and (min-width: 37.5rem) {
      height: 20rem;
    }

    label,
    img {
      border-radius: var(--border-radius-base);
      max-width: 15.625rem;
      @media only screen and (min-width: 37.5rem) {
        max-width: 25rem;
      }
    }
  }
  .carousel-cards,
  .carousel-details {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .carousel-details {
    height: 21rem;
    margin: 0 auto;
    max-width: 50rem;
    overflow-y: hidden;

    @media only screen and (min-width: 37.5rem) {
      height: 16.5rem;
    }

    label {
      max-width: 100vw;
      padding: var(--pad-xs) var(--pad-xs) 0 var(--pad-xs);
      // text-align: center;

      @media only screen and (min-width: 37.5rem) {
        max-width: 35rem;
        padding: 0;
      }

      h3 {
        color: var(--white);
        gap: var(--pad-xxs);
        // justify-content: center;
        font-weight: bold;
        margin-bottom: var(--pad-xxxs);
      }
    }

    .carousel-details-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--pad-xxs);

      .carousel-tags-row {
        display: none;

        @media only screen and (min-width: 37.5rem) {
          display: block;
        }
      }
    }

    .carousel-details-body {
      display: flex;
      gap: var(--pad-xs);
      flex-direction: column;

      .carousel-actions-row {
        display: flex;
        flex-direction: row;
        gap: var(--pad-xs);
        width: 100%;

        button {
          border: none;
          border-radius: var(--border-radius-base);
          padding: var(--pad-xxxs) var(--pad-xs);
          align-items: center;
          display: flex;
          letter-spacing: 0.5px;
          justify-content: center;
          align-items: center;
          font-size: 0.95rem;
          line-height: 1.75rem;
          width: 50%;

          @media only screen and (min-width: 37.5rem) {
            font-size: 1.1rem;
          }
        }

        .primary-btn {
          background-color: var(--teal);
          color: var(--charcoal);
          font-weight: 600;
          display: flex;
          gap: var(--pad-xxs);

          i {
            color: var(--black);
          }

          &:hover {
            @extend .hover;
            opacity: 0.5;
            transition: var(--ease-in);
          }
        }

        .secondary-btn {
          background-color: var(--light-charcoal);
          color: var(--white);
          font-weight: 500;
          border: 2px solid var(--white);

          display: flex;
          gap: var(--pad-xxs);

          i {
            color: var(--white);
          }

          &:hover {
            @extend .hover;
            opacity: 0.5;
            transition: var(--ease-in);
          }
        }
      }
    }
  }
}
.subtitle {
  margin: -1rem auto;
  max-width: 42rem;
  padding: 0 var(--pad-sm);
  text-align: center;
}
footer {
  padding: var(--pad-xs);

  .social-items {
    display: inline-flex;
    gap: var(--pad-xs);

    li {
      max-width: 2.5rem;
    }
  }
}
.gallery-grid {
  margin-top: var(--pad-sm);
  @media only screen and (min-width: 37.5rem) {
    gap: var(--pad-sm);
    justify-content: center;
    display: flex;
  }

  .col {
    flex: 1;
    @media only screen and (min-width: 37.5rem) {
      max-width: 17.5rem;
      width: 32%;
    }
  }
}

.gallery-container {
  margin-bottom: var(--pad-sm);
  position: relative;
  text-align: center;
  transition: var(--ease-in);
  &:hover {
    .gallery-details {
      opacity: 1;
    }
  }

  .gallery-details {
    background-color: var(--teal);
    border-radius: var(--border-radius-base);
    bottom: 0;
    gap: 0;
    left: 0;
    opacity: 0;
    padding: var(--pad-xs);
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--ease-in);
    @extend .flex-col;
    p {
      font-size: var(--font-sm);
      top: 50%;
      left: 50%;
    }
    .gallery-icon {
      color: var(--charcoal);
      font-size: 0.9rem;
    }
  }
  img {
    border-radius: var(--border-radius-base);
    object-fit: cover;
    width: 100%;
    @media only screen and (min-width: 37.5rem) {
      height: 13rem;
    }
  }
}
