:root {
  // Colours
  --black: #212121;
  --charcoal: #282824;
  --gray: #a9a9a9;
  --light-gray: #f0f0f0;
  --lighter-gray: #e1e1e1;
  --medium-gray: #636363;
  --nav: #20201c;
  --teal: #7acddc;
  --white: #ffffff;

  // Spacing
  --pad-xxs: 0.5rem;
  --pad-xs: 1rem;
  --pad-sm: 2rem;
  --pad-md: 5rem;

  // Transitions
  --ease-in: 0.5s ease-in;

  // Animation Variables
  --box-size: 12.5rem;
  --clip-distance: 0.05;
  --clip-size: 13.75rem;
  --path-width: 0.188rem;
  --timer: 8s;

  // Font sizes
  --font-md: 1.5rem;
  --font-sm: 1.2rem;

  // Other
  --border-radius-base: 0.25rem;
  --border-size: 0.125rem;

  // Icons
  --icon-lg: 3rem;
  --icon-md: 2rem;

  // Screen size - CSS does not support these :(
  --tablet: 37.5rem; // 600px to 899px
  --laptops: 56.25rem; // 900px to 1199px
  --desktop: 75rem; // 1200px and up
}

// Typography
.dark-text {
  color: var(--charcoal);
  font-weight: lighter;
}
.dark-bg {
  background-color: var(--charcoal);
  padding-top: var(--pad-sm) !important;

  h2 {
    color: var(--light-gray);
  }
}
.gray-bg {
  background-color: var(--light-gray);

  p {
    color: var(--charcoal);
  }
}
.bolder {
  font-weight: bolder;
}
.script {
  @extend .dark-text;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  font-weight: 500;
}
h1 {
  font-size: 4rem;
  @extend .dark-text;
}
h2 {
  @extend .dark-text;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
h3 {
  font-size: 1.3rem;
  @extend .dark-text;
}
p {
  font-size: 1.1rem;
  color: var(--light-gray);
}

// Shared styles
.position-fixed {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.space-evenly {
  display: flex;
  justify-content: space-between;
}
.hover {
  cursor: pointer;
  transition: var(--ease-in);
}
.hover-teal {
  @extend .hover;
  @extend .teal;
}
.hover-white {
  @extend .hover;
  @extend .white;
}
.teal {
  color: var(--teal);
}
.white {
  color: var(--white);
}
.bottom {
  bottom: var(--pad-sm);
  position: absolute;
}
.teal {
  color: var(--teal) !important;
}
.card {
  border: var(--border-size) solid var(--charcoal);
  border-radius: var(--border-radius-base);
  padding: var(--pad-sm);
  text-align: center;
}
.wrapped {
  flex-wrap: wrap;
  display: flex;
  gap: var(--pad-sm);
  justify-content: center;
}
.centre {
  text-align: center;
}
.margin-bottom-md {
  margin-bottom: calc(var(--pad-md) / 1.5);
}
.ease-in-cards {
  #dev-info-1,
  #dev-info-2,
  #dev-info-3 {
    opacity: 1;
    transition: var(--ease-in);
  }
}

// Animated Content
.logo-animated {
  @extend .position-fixed;
  background: url("../img/logo-personal.jpg") no-repeat 50% / 95%
    var(--charcoal);
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 var(--path-width) var(--teal);
  height: var(--box-size);
  position: relative;
  width: var(--box-size);
}
.logo-animated::before,
.logo-animated::after {
  @extend .position-fixed;
  animation: clipAnimation var(--timer) linear infinite;
  border-radius: var(--border-radius-base);
  box-shadow: inset 0 0 0 var(--path-width) var(--teal);
  content: "";
  margin: -5%;
  position: absolute;
}
.logo-animated::before {
  animation-delay: -4s;
}
.fade-in {
  animation: fadein 3s;
}
#dev-1:checked ~ .carousel-cards #dev-3,
#dev-2:checked ~ .carousel-cards #dev-1,
#dev-3:checked ~ .carousel-cards #dev-2 {
  transform: translatex(-40%) scale(0.8);
  transition: var(--ease-in);
  opacity: 0.5;
  z-index: 0;
}
#dev-1:checked ~ .carousel-cards #dev-2,
#dev-2:checked ~ .carousel-cards #dev-3,
#dev-3:checked ~ .carousel-cards #dev-1 {
  transform: translatex(40%) scale(0.8);
  transition: var(--ease-in);
  opacity: 0.5;
  z-index: 0;
}
#dev-1:checked ~ .carousel-cards #dev-1,
#dev-2:checked ~ .carousel-cards #dev-2,
#dev-3:checked ~ .carousel-cards #dev-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0 0 5rem 0 var(--black);
  }
}
#dev-1:checked ~ .carousel-details {
  @extend .ease-in-cards;
  #dev-info-1 {
    opacity: 1;
  }
  #dev-info-2 {
    opacity: 0;
  }
  #dev-info-3 {
    opacity: 0;
  }
}
#dev-2:checked ~ .carousel-details {
  @extend .ease-in-cards;
  #dev-info-1 {
    opacity: 0;
  }
  #dev-info-2 {
    opacity: 1;
  }
  #dev-info-3 {
    opacity: 0;
  }
}
#dev-3:checked ~ .carousel-details {
  @extend .ease-in-cards;
  #dev-info-1 {
    opacity: 0;
  }
  #dev-info-2 {
    opacity: 0;
  }
  #dev-info-3 {
    opacity: 1;
  }
}

// Keyframes
@keyframes clipAnimation {
  0% {
    clip: rect(0px var(--clip-size) var(--path-width) 0px);
  }
  25% {
    clip: rect(0px var(--path-width) var(--clip-size) 0px);
  }
  50% {
    clip: rect(218px var(--clip-size) var(--clip-size) 0px);
  }
  75% {
    clip: rect(0px var(--clip-size) var(--clip-size) 218px);
  }
  100% {
    clip: rect(0px var(--clip-size) var(--path-width) 0px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// General styling
body {
  font-family: "Quattrocento Sans", sans-serif;
  letter-spacing: 0.05rem;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.nav {
  background-color: var(--charcoal);
  display: block;
  padding: var(--pad-sm);
  position: relative;
  z-index: 1;

  a {
    color: var(--light-gray);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--teal);
    }
  }

  input {
    @extend .hover;
    height: 1.5rem;
    opacity: 0;
    position: absolute;
    width: 2.5rem;
    z-index: 2;

    @media only screen and (min-width: 37.5rem) {
      display: none;
    }
  }

  .menu-items {
    background: var(--black);
    left: 0;
    // min-width: 10rem;
    padding: var(--pad-md) var(--pad-sm) var(--pad-sm) var(--pad-sm);
    position: absolute;
    top: 0;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 100vw;

    ul {
      list-style: none;

      li {
        font-size: var(--font-md);
        margin: var(--pad-xs) 0;

        @media only screen and (min-width: 37.5rem) {
          margin: 0 var(--pad-sm) 0 0;
          font-size: var(--font-sm);
          width: auto;

          a {
            color: var(--gray);

            &:hover {
              // @extend .hover-white; CSS does nto allow selectors inside media queries
              cursor: pointer;
              transition: ease-in;
              color: var(--white);
            }
          }
        }
      }

      .social-items {
        @extend .space-evenly;

        li {
          margin: 0;
          max-width: 3rem;
          transition: 0.5s;

          &:hover {
            opacity: 0.5;
            transform: translate(0, -10%);
          }
        }

        @media only screen and (min-width: 37.5rem) {
          display: none;
        }
      }

      @media only screen and (min-width: 37.5rem) {
        display: flex;
        margin-left: calc(var(--icon-lg) + var(--pad-xs));
      }
    }

    @media only screen and (min-width: 37.5rem) {
      background: none;
      overflow: hidden;
      padding: 0;
      position: relative;
      transform: none;
      width: 100vw;
    }
  }

  .logo {
    display: none;

    @media only screen and (min-width: 37.5rem) {
      display: block;
      position: absolute;
      height: var(--icon-md);
      width: var(--icon-md);
    }
  }

  // Hamburger menu for mobile
  span {
    background: var(--white);
    border-radius: var(--border-radius-base);
    display: block;
    height: 0.25rem;
    margin-bottom: var(--pad-xxs);
    position: relative;
    transform-origin: 0.45rem 0.063rem;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    width: 3rem;
    z-index: 1;

    @media only screen and (min-width: 37.5rem) {
      display: none;
    }
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-child(3) {
    transform-origin: 0% 100%;
  }

  span:nth-child(4) {
    margin-bottom: 0;
  }

  input:checked {
    ~ span {
      background: var(--teal);
      opacity: 1;
      transform: rotate(-45deg);
    }

    ~ span:nth-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.1);
    }

    ~ span:nth-child(2) {
      transform: rotate(45deg);
    }

    ~ .menu-items {
      transform: none;
    }
  }

  @media only screen and (min-width: 37.5rem) {
    background-color: var(--black);
    height: 4rem;
    padding: var(--pad-xs) var(--pad-sm);
    position: fixed;
    width: 100vw;
  }
}

i {
  font-size: var(--icon-md);
  color: var(--light-gray);
}

.banner {
  align-items: center;
  background: url(../img/banner-xl-home.jpg) center / cover no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--pad-sm);
  justify-content: end;
  min-height: 90vh;
  padding: var(--pad-md) var(--pad-sm) var(--pad-sm) var(--pad-sm);

  .title {
    font-size: 1.15rem;

    // Any newer mobile device will have a screen width greater than 360px
    @media only screen and (min-width: 23rem) {
      font-size: 1.3rem;
    }
  }

  i:hover {
    @extend .hover-teal;
  }

  @media only screen and (min-width: 37.5rem) {
    justify-content: center;
  }
}

.container {
  padding: var(--pad-sm);

  h2 {
    margin-bottom: var(--pad-xs);
  }
}

.container-full {
  background-color: var(--charcoal);
  color: var(--light-gray);
}

.card-sm {
  @extend .card;
  background: var(--charcoal);
  border: var(--border-size) solid var(--charcoal);
  max-width: 20rem;

  &:hover {
    border: var(--border-size) solid var(--teal);
    border-radius: var(--border-radius-base);
    @extend .hover;

    i {
      @extend .hover-teal;
    }
  }

  i {
    font-size: var(--icon-lg);
    margin-bottom: var(--pad-xs);
    color: var(--light-gray);
  }

  p {
    border-top: var(--border-size) solid var(--medium-gray);
    padding-top: var(--pad-xs);
    margin-top: var(--pad-xs);
  }
}

.card-lg {
  border-radius: var(--border-radius-base);
  overflow: hidden;
  background-color: var(--light-gray);
  border: none;

  .about-container {
    padding: var(--pad-sm);

    p {
      color: var(--charcoal);
      border-top: var(--border-size) solid var(--charcoal);
      margin-top: var(--pad-xs);
      padding-top: var(--pad-xs);
      text-align: left;
    }

    .script {
      font-size: var(--font-sm);
    }
  }

  img {
    border-radius: 100%;
    margin: var(--pad-xs) auto;
    max-width: 10rem;

    @media only screen and (min-width: 37.5rem) {
      max-width: 15rem;
    }
  }

  .avatar-container {
    padding: var(--pad-sm);
    background-color: var(--charcoal);

    p {
      text-align: center;
    }
  }

  @media only screen and (min-width: 37.5rem) {
    padding: var(--pad-sm) var(--pad-md) var(--pad-md) var(--pad-md);
  }
}

.row {
  @extend .space-evenly;
  flex-direction: column;
  gap: var(--pad-xs);
  justify-content: center;
  overflow: hidden;
  align-items: center;

  @media only screen and (min-width: 46.875rem) {
    flex-direction: row;
    gap: var(--pad-sm);
  }
}

.skill-token {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--pad-xxs);

  img {
    max-width: 3.5rem;
    margin: auto;
  }
}

.text-col {
  align-items: center;
  display: flex;
  gap: var(--pad-xs);
  margin: var(--pad-sm) auto;

  i {
    background-color: var(--teal);
    border-radius: 100%;
    color: var(--white);
    font-size: 1.5rem;
    min-width: 56px;
    padding: 1rem 0.9rem;
    text-align: center;
    width: 56px;
  }

  p {
    color: var(--charcoal);
  }

  @media only screen and (min-width: 46.875rem) {
    max-width: 30rem;
  }
}

.tagline {
  margin-top: -1.5rem;
  font-size: var(--font-md);
  text-align: center;
}

.divider {
  border-bottom: var(--border-size) solid var(--medium-gray);
  width: 75%;
  max-width: 60rem;
  margin: 0 auto var(--pad-sm) auto;
}

.card-long {
  @extend .card;
  border: var(--border-size) solid var(--light-gray);
  display: flex;
  flex-direction: row;
  max-width: 75rem;
  background-color: var(--light-gray);
  margin: var(--pad-sm) auto;
  text-align: left;
  gap: var(--pad-sm);

  .text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  img {
    max-width: 25rem;
  }

  p,
  i {
    color: var(--black);
  }

  i {
    font-size: calc(var(--icon-md) / 1.75);
  }
}

.hoverable {
  &:hover {
    @extend .hover;
    border: var(--border-size) solid var(--teal);
    border-radius: var(--border-radius-base);
    transform: translate(0, -2%);

    h3,
    i {
      @extend .hover-teal;
    }
  }

  h3 {
    text-align: left;
  }
}

.tags {
  background-color: var(--medium-gray);
  border-radius: var(--border-radius-base);
  padding: var(--pad-xxs);
  margin: 0.2rem;
}

.code-portfolio {
  display: flex;
  flex-direction: column;
  gap: var(--pad-xs);

  input {
    display: none;
  }

  label {
    position: absolute;

    &:hover {
      @extend .hover;
    }
  }

  .carousel-cards {
    padding-top: var(--pad-sm);

    label,
    img {
      border-radius: var(--border-radius-base);
      max-width: 25rem;
    }
  }

  .carousel-cards,
  .carousel-details {
    display: flex;
    height: 20rem;
    justify-content: center;
    overflow: hidden;
  }

  .carousel-details {
    height: 15rem;

    &:hover {
      @extend .hover;
      opacity: 0.5;
    }

    label {
      max-width: 75vw;
      padding: 0 var(--pad-sm) 0 var(--pad-sm);
      text-align: center;

      h2 {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        gap: var(--pad-xxs);
        align-items: center;

        i {
          font-size: 1.3rem;
        }
      }
    }
  }
}
